@font-face {
  font-family: 'Menlo-Regular';
  src: local('Menlo-Regular'), url(./fonts/Menlo-Regular.ttf) format('truetype'); ;
}

:root {
  color-scheme: light dark;
  font-family: 'Menlo-Regular';
}

/* Tema chiaro */
html.light {
  --background-color: #cbfffc;
  --text-color: #004541;
}

/* Tema scuro */
html.dark {
  --background-color: #1f1f1f;
  --text-color: #4FC1FF;
}

/* Applicazione delle variabili */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
