:root {
  color-scheme: light dark;
}

/* Tema chiaro */
html.light {
  --background-color: #b3ff00;
  --text-color: #000000;
}

/* Tema scuro */
html.dark {
  --background-color: #160ab4;
  --text-color: #ffffff;
}

/* Applicazione delle variabili */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
